Package: com.iTrickz.iUtility4iOS
Name: iUtility4iOS
Version: 2.0
Architecture: iphoneos-arm
Description: iOS Utility Script to use this package open your favorite mobile terminal and type mustard
Maintainer: @iTrickzGG <itrickz101@gmail.com>
Author: @iTrickzGG <itrickz101@gmail.com>
Depends: firmware (>=10.0), openssl
Section: Tweaks

