Package: com.iTrickz.iUtility4iOS
Name: iUtility4iOS
Version: 1.0
Architecture: iphoneos-arm
Description: iOS Utility Script to use this pkg open your favorite mobile terminal and type mustard
Maintainer: @iTrickzGG <itrickz101@gmail.com>
Author: @iTrickzGG <itrickz101@gmail.com>
Section: Tweaks









