Package: com.iTrickz.SetGen
Name: SetGen
Version: 1.1
Architecture: iphoneos-arm
Description: Sets a generator in NVRAM usage: type <setup>(without <>) in Mterminal - ONLY YALU102
Maintainer: @iTrickzGG <itrickz101@gmail.com>
Author: @iTrickzGG <itrickz101@gmail.com>
Section: Tweaks







