Package: com.iTrickz.SetGen
Name: SetGen
Version: 1.0
Architecture: iphoneos-arm
Description: Sets a generator in NVRAM usage//’setup’ in Mterminal - ONLY YALU102
Maintainer: @iTrickzGG <itrickz101@gmail.com>
Author: @iTrickzGG <itrickz101@gmail.com>
Section: Tweaks


